<h3>This is the employee list:</h3>

<% @employees.each do |d| %>
<%= link_to d.first_name + ' ' + d.last_name, employee_path(d) %><br>
<% end %>

<%= link_to "See employees", employees_path %>
<%= link_to 'Add Employee', new_employee_path %>
