<h3> Edit the Dawg </h3>
<br>
<%= render 'form' %>
<br>
<%= link_to "Delete the dog", dog_path(@dog), method: :delete %>
<br>
<%= link_to "Go back to the dooog", dog_path(@dog) %>
<br>
<%= link_to "See all dawgs", dogs_path %>
